.PostContainerCard {
    border-radius: 0 !important;
    display: flex;
    border-style: solid;
    border-width: thin;
    border-color: rgb(212, 219, 226);
    width: 100%;
    padding-bottom: 2%;
}