.UserDisplayContainer {
    height: 200px;
    width: 100%;
}

.BannerImg {
    margin-bottom: -50px !important;
    object-fit: fill !important;
    width: 100% !important;
    height: 100% !important;
}

.UserDisplayUserAvatar {
    height: 90px !important;
    width: 90px !important;
    margin-left: 10px !important;
}