.UserDisplayContainer {
    position: relative;
    height: 175px;
    width: 100%;
}

.BannerImg {
    margin-bottom: -50px !important;
    object-fit: fill !important;
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
}

.BackButton{
    display: flex;
    cursor: pointer;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #777879;
    align-items: center;
    justify-content: center;
}

.BackButtonIcon {
    color: #FFFF;
}

.UserProfileAvatar {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}