.UserAvatarButton {
    border-radius: 80% !important;
    background-color: transparent !important;
    height: 60px !important;
    width: 15px !important;
}

.UserAvatarPic {
    height: 42px !important;
    width: 42px !important;
}