.UserAvatarButton {
    border-radius: 80% !important;
    background-color: transparent !important;
    height: 60px !important;
    width: 15px !important;
}

.UserAvatarPic {
    background-color: #ffffff !important;
}

.UserAvatarPicNoImg {
    background-color: #389afb !important;
}