.NavbarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.NewPostButton {
    width: 50% !important;
    font-size: 16px !important;
    margin-top: 25px !important;
    margin-left: 3% !important;
    color: white !important;
    background-color: rgb(56,154,251) !important;
    border-radius: 30px !important;
    text-transform: capitalize !important;
}

.PostAddIcon {
    margin-right: 3px;
    margin-bottom: 2px;
}

@media (max-width: 1280px) {
    .NewPostButton {
        width: 70% !important;
        font-size: 16px !important;
        margin-top: 25px !important;
        color: white !important;
        background-color: rgb(56,154,251) !important;
        border-radius: 30px !important;
        text-transform: capitalize !important;
    }
}