.FABScrollResetContainer {
    height: 50vh !important;
    padding-top: 150% !important;
}

.FABScrollContainer {
    float: right;
    margin-right: 20px !important;
    background-color: #ffffff !important;
}

.ExpandLessIcon {
    color: #000000;
    font-weight: 800;
    font-size: 35px;
}