.FABScrollResetContainer {
    height: 62vh !important;
    display: flex !important;
    align-items: flex-end !important;
    justify-content: right !important;
}

.FABScrollContainer {
    float: right;
    margin-right: 20px !important;
    background-color: #ffffff !important;
}

.ExpandLessIcon {
    color: #000000;
    font-weight: 800;
    font-size: 35px;
}

@media (max-width: 1280px) {
    .FABScrollResetContainer {
        height: 92vh !important;
        display: flex !important;
        align-items: flex-end !important;
        justify-content: right !important;
    }
}